/* .main-layout-content{
  margin-left:270px;
  padding-top:80px;
  min-height:100vh;
}

@media(max-width:768px){
  .main-layout-content{
    margin-left:0;
    padding-top:70px;
    padding-bottom:80px;
  }
} */